<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Santi's Flask test</title>
    <link rel="icon" href="https://picsum.photos/100" type="image/icon" />
    <style>
      body {
        text-align: center;
      }
      h1 {
        font-weight: normal;
        color: #1739d1;
        font-size: 2.5em;
      }
    </style>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
