aniso8601==9.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
Flask==1.1.2
Flask-RESTful==0.3.8
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
peewee==3.14.4
protobuf==3.15.7
pycodestyle==2.7.0
pycparser==2.20
PyMySQL==1.0.2
pytz==2021.1
six==1.15.0
toml==0.10.2
urllib3>=1.26.5
Werkzeug
